* {
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: -moz-none;
    -o-user-select: none;
    user-select: none;
}

body{
    background-color: #312E2B;
    font-family: "familyMontserrat", sans-serif;
}

.box {
    width: calc(80vmin / 8);
    height: calc(80vmin / 8);
    position: relative;
}

.rowContainer {
    display: flex;
}

#board {
    margin: auto;
    margin-top: 2rem;
    width: 80vmin;
    height: 80vmin;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
}

#rotateBtn{
    color: #E7E7CB;
    font-size: 3rem;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: .5rem;
    display: none;
}

.darkbox{
    background-color: #729153;
    color: #E7E7CB;
    
}

.lightbox{
    background-color: #E7E7CB;
    color: #729153;
}

.whitepiece{
    width: 80%;
    height: 80%;
    position: absolute;
    margin-bottom: 10%;
    margin-right: 10%;
    margin-left: 10%;
    margin-top: 10%;
}

.blackpiece{
    width: 80%;
    height: 80%;
    position: absolute;
    margin-bottom: 10%;
    margin-right: 10%;
    margin-left: 10%;
    margin-top: 10%;
}

.drophover {
    border: 4px green solid;
}

.box > span {
    position: absolute;
}

.possibleMove {
    border: 4px solid red;
}

#playerTurnLabel {
    margin-top: 1rem;
    font-size: 4rem;
    color: #E7E7CB;
    text-align: center;
}

#resetBtn {
    font-size: 2rem;
    padding: .2em;
    cursor: pointer;
    border-radius: .2em;
    border: none;
    outline: none;
    background-color: #729153;
    color: #E7E7CB;
    box-shadow: 0 .11em #999;
    margin-bottom: 1em;
}

#resetBtn:hover {
    background-color: #3e8e41
}

#resetBtn:active {
    box-shadow: 0 .06em #666;
    transform: translateY(.05em);
}


#resetBtnWrapper{
    text-align: center;
}

.rotate{
    transform: rotate(180deg)
}

#moveList {
    text-align: center;
    color: #E7E7CB;
    font-size: 1.5rem;
}

#promotionBannerWrapper{
    position: absolute;
    background-color: rgb(5, 0, 0, 0.6);
    width: 100vw;
    height: 100vh;
    top: 0;
}

#promotionBanner {
    width: 80vw;
    background-color: #729153;
    color: #E7E7CB;
    margin:auto;
    margin-top: 10em;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: .5em;
    overflow: hidden;
    padding-bottom: 1em;
}

#bishopBtn, #queenBtn, #rookBtn, #horseBtn {
    color: #729153;
    background-color: #E7E7CB;
    font-size: 2rem;
    margin-top: .5em;
    cursor: pointer;
    border: none;
    outline: none;
    box-shadow: 0 .11em #999;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

#bishopBtn:hover,#queenBtn:hover,#rookBtn:hover,#horseBtn:hover {
    background-color: #dadaa9
}

#bishopBtn:active,#queenBtn:active,#rookBtn:active,#horseBtn:active {
    box-shadow: 0 .06em #666;
    transform: translateY(.05em);
}

@media only screen and (max-width: 580px) {
    html {
        font-size: 11px;
      }
}

@media only screen and (max-width: 452px) {
    html {
        font-size: 9px;
      }
}

@media only screen and (max-width: 320px) {
    html {
        font-size: 6px;
      }
}

@media only screen and (min-width: 1222px) {
    #moveList{
        position:absolute;
        top: 2rem;
        left: 2rem;
    }

    #promotionBanner {
        width: 40vw;
        padding-top: 1em;
        padding-bottom: 2em;
    }
}