* {
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: -moz-none;
    -o-user-select: none;
    user-select: none;
}

body{
    background-color: #312E2B;
    font-family: "familyMontserrat", sans-serif;
}

.box {
    width: calc(80vmin / 8);
    height: calc(80vmin / 8);
    position: relative;
}

.rowContainer {
    display: flex;
}

#board {
    margin: auto;
    margin-top: 2rem;
    width: 80vmin;
    height: 80vmin;
    border-radius: 5px;
    overflow: hidden;
}

.darkbox{
    background-color: #729153;
    color: #E7E7CB;
}

.lightbox{
    background-color: #E7E7CB;
    color: #729153;
}

.whitepiece{
    width: 80%;
    height: 80%;
    position: absolute;
    margin-bottom: 10%;
    margin-right: 10%;
    margin-left: 10%;
    margin-top: 10%;
}

.blackpiece{
    width: 80%;
    height: 80%;
    position: absolute;
    margin-bottom: 10%;
    margin-right: 10%;
    margin-left: 10%;
    margin-top: 10%;
}

.drophover {
    border: 4px green solid;
}

.box > span {
    position: absolute;
}

.possibleMove {
    border: 4px solid red;
}

#playerTurnLabel {
    margin-top: 1rem;
    font-size: 4rem;
    color: #E7E7CB;
    text-align: center;
}

#resetBtn {
    font-size: 2rem;
    padding: .2em;
    cursor: pointer;
    border-radius: 8px;
    border: none;
    outline: none;
    background-color: #729153;
    color: #E7E7CB;
    box-shadow: 0 .11em #999;
}

#resetBtn:hover {
    background-color: #3e8e41
}

#resetBtn:active {
    box-shadow: 0 .06em #666;
    transform: translateY(.05em);
}


#resetBtnWrapper{
    text-align: center;
}
